table tr.loss{
  background: rgba(223, 59, 87, 0.33);
}

table tr.win{
  background: rgba(134, 186, 144, 0.34);
}

.modal-content{
  background: #fff;
  padding: 35px;
}

.modal.showImage .modal-content{
  width:60%;
  padding:0px;
}

a.updateTradeModal, a.newImageModal{
  width:100%;
}

.modal-content.show .columns .is-desc{
  border: 1px solid #fff;
  background:#209cee;
  color:#fff;
}
.modal-content.show .is-value{
  background:#e1e1e1;
  border: .5px solid #fff;
}

.tag.is-status-win{
  background-color: #23d160!important;
  color:#fff!important;
}
.tag.is-status-loss{
  background-color: #ff3860!important;
  color:#fff!important;
}

tr.cancelled, tr.missed, tr.opposite, tr.zones{
  background:#333;
}

tr.cancelled td a, tr.cancelled td, tr.missed td a, tr.opposite td a, tr.zones td a, tr.missed td , tr.opposite td , tr.zones td {
  color:#fff;
}

tr.cancelled td .tags a{
  color:#333;
}
